html {
    box-sizing: border-box;  /* used to configure height and weight at 100% later */
    font-family: 'Open-Sans', sans-serif;  /* got from Google Fonts */
}

body {
    /* background color goes in the body, affecting everything */
    background-color: #60a9ff;
    /* --- flex box setup ---- 
    Our div element (the pricing panel) is the container inside the body
    In Flexbox, we configure the behavior of the PARENT's container
    So in this case, it goes on the body !
    We configure the body to have everything inside centered */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* adds some space on top */
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;  /* leaves some space inside the panel between text and borders */
    width: 100%;  /* referred to its parent! */
    max-width: 960px; /* limits the max width on both sides */
    /* flexbox: setup thinking of mobile screens!
    we will create 1-single column first and then add a condition
    for larger screens change the display to rows */
    display: flex;
    flex-direction: column;
    /* text display setup */
    text-align: center;
    text-transform: uppercase; /* All uppercase (mayusc) */
}

/* Now it comes the setup of each column */
.pricing-plan {
    /* adds a line at the bottom to separate sections */
    border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
    /* for the last category, we remove the line! */
    border-bottom: none;
}

/* Each picture of each column setup */
.pricing-img {
    margin-bottom: 25px; /* some space between the pic and the text */
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px; /* Separate letters a bit */
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
    border-bottom: 1px solid #e1f1ff;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price{
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff;
}

/* Editing only a type of button */
.pricing-button.is-featured {
    background-color: #48aaff;
    color: white;
}
.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
    background-color: #269aff;
    color: white;
}

/* --- Big Screens setup --- */
@media(min-width: 900px) {
    .panel {
        flex-direction: row;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        /* Adding some padding to stretch columns a bit 
        make it looking better */
        padding: 25px 50px;  
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}