<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the home page</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla asperiores expedita ipsam nobis quasi laborum repellendus. Eaque debitis natus ea vero hic rem, quae saepe distinctio qui et facere!</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, repellat? Odio, mollitia cumque. Pariatur quam ipsa aliquam magnam debitis perspiciatis. Quos eius sint in eum inventore iusto voluptatibus ipsam neque?</p>
</body>
</html>